footer {
    width: 1440px;
    height: 40px;
    //position: fixed;
    bottom: 0;
    background-color: white;
    border-top: solid 1px;
    margin-top: 30px;
}


.footerMenu {
    height: 40px;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
    padding: 0;
    font-family: 'font-family', 'Space Mono';
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    flex-wrap: wrap;

        li {
            list-style-type: none;
            

            a {
                text-decoration: none;
                color: black;
                cursor: pointer;
                
                &:hover {
                    font-weight: 700;
            }
        }
    }
}

