//******Gallerie

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}

.gallery-plus {
    display: flex;
    flex-direction: row;
}

#bouton_charger_plus {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}

.eye-icon {
    position: relative;
    z-index: 1;
    left: 46%;
    top: 18vh;
    width: 50%;
    display: none;
}

.photopost img {
    width: 564px;
    height: 495px;
    object-fit: cover;
}


/*****Lightbox***/

.lightbox-container .lightbox_categorie {
    right: 0%;
    bottom: -6%;
}

.lightbox-container .lightbox_text {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    @media screen and (max-width: 425px) {
        font-size: 18px;
    }    
}

.lightbox-container .lightbox_reference {
    left: 0%;
    bottom: -6%;
}


