//******Gallerie

#gallerie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}

.eye-link {
    position: relative;
    z-index: 1;
    left: 46%;
    top: 18vh;
    width: 50%;
    display: none;
}



.photopost img {
    width: 564px;
    height: 495px;
    object-fit: cover;
}
