//******Gallerie

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}


#bouton_charger_plus {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}




/*****Lightbox***/

.lightbox-container .lightbox_categorie {
    right: 0%;
    bottom: -6%;
}

.lightbox-container .lightbox_text {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    @media screen and (max-width: 425px) {
        font-size: 18px;
    }    
}

.lightbox-container .lightbox_reference {
    left: 0%;
    bottom: -6%;
}


#no-more-photos {
    display: flex;
    justify-content: center;
    font-family: "Space Mono";
    font-weight:bold;
}
