
//******Police Poppins


@font-face {
    font-family: 'PoppinsBold';
    src: url('../fonts/Poppins-Bold.woff') format('woff'),
         url('../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsItalic';
    src: url('../fonts/Poppins-Italic.woff') format('woff'),
         url('../fonts/Poppins-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.woff') format('woff'),
         url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.woff') format('woff'),
         url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



//******Police Mono Space
@font-face {
    font-family: "Space Mono", monospace;
    src: url('../fonts/SpaceMono-Bold.woff') format('woff'),
         url('../fonts/SpaceMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono", monospace;
    src: url('../fonts/SpaceMono-BoldItalic.woff') format('woff'),
         url('../fonts/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Space Mono", monospace;
    src: url('../fonts/SpaceMono-Italic.woff') format('woff'),
         url('../fonts/SpaceMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono", monospace;
    src: url('../fonts/SpaceMono-Regular.woff') format('woff'),
         url('../fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

