h1 {
    display:none;
}
.detailphoto {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}

body {
    //margin-top: 0;
    max-width: 1440px;
    margin: auto;
    overflow: scroll;
}


header {
    background-color: white;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);

    .siteNavigation {
        max-width: 1440px;;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;        

        .siteNavigation__logo img {
            max-width: 216px;
            align-items: center;
            margin-left: 145px;
        }

        .siteNavigation__menu {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-right: 145px;
            

            .navMenu {
                display: flex;
                gap: 30px;
                list-style-type: none;
            
                li {
                    font-family: 'font-family', Space Mono;
                    
                    a {
                        text-decoration: none;
                        color: black;
                        cursor: pointer !important;

                        &:hover {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}



#menu-item-14 {
    font-family: 'font-family', Space Mono;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin: 0em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;

    &:hover {
        font-weight: 700;
    }
}


//****** Responsive

@media (min-width: 960px) {
    .burger {
        display: none !important;
        }

}

@media (max-width: 960px) {
    .siteNavigation__menu li,
    .siteNavigation__menu button{
        display: none !important;
        }

}

