//***** Bouton Charger
#bouton_charger_plus {
    display: flex;
    justify-content: center;    
}

.btn__wrapper {
    width: 272px;
    height: 50px;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    border-width: 0px;
    &:hover {
        background-color: black;
        color: #fff;
    }
    
}

.btn {
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




// *************************filtres de recherche
.page-container {
    width: 100%;
    height:100px;
    display:flex;
    position:relative;
    z-index:5;
    @media screen and (max-width: 1080px) {
        height:auto;
        
      }
 }

.filters {
    margin-top: 20px;
    width: 100%;
    padding: 30px;
    
    select {
        width: 100%;
        max-width: 230px;
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        //border: 1px solid #B8BBC2;
        background-color: #ffffff;
        cursor: pointer;
        font-family: "Poppins", monospace;
        font-size: 12px;
        text-transform: uppercase;
        
        
        @media screen and (max-width: 1080px) {
            max-width: 296px;
            flex-direction: column;
            justify-content: center;
          }
        }
    }
    
    .filters form {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
        
        @media screen and (max-width: 1080px) {
            //width: auto;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
          }
    }
    
    .filter1 {
        width: 50%;
        max-width: 520px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @media screen and (max-width: 1080px) {
            width: auto;
            flex-direction: column;
            gap: 20px;
          }
    }
    
    .filter2 {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1080px) {
            //max-width: 300px;
          }
    }



//**couleur des filtre au survol

option:nth-child(1):hover {
    background-color:#ffffff;
    color: #313144;
}

option:nth-child(2):hover {
    background-color:#ffecec;
    color: #313144;
}

option:nth-child(3):hover {
    background-color:#FFD6D6;
    color: #313144;
}

option:nth-child(4):hover {
    background-color:#FE5858;
    color: #313144;
}

option:nth-child(5):hover {
    background-color:#E00000;
    color:white
}

//**couleur des filtre

option:nth-child(1) {
    padding: 20px;
}

option:nth-child(2) {
    padding: 20px;
}

option:nth-child(3) {
    padding: 20px;
}

option:nth-child(4) {
    padding: 20px;
}

option:nth-child(5) {
    padding: 20px;
}





    
    