//**** Détail Photo

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'font-family','Space Mono';
    font-weight: 400;
    

        & h2 {
            font-size: 66px;
            line-height: 58px;
            font-style: italic;
        }
        & p {
            font-size: 14px; 
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
        }
   
}

a:-webkit-any-link {
    color:black;
    //cursor:auto;
    text-decoration: none;
}


.photos-container {
    width: 50%;
    
    @media (max-width: 1024px){
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: auto;
      display: block;
    }
  }

.photodetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//*****section contact

#myBtn {
    font-family: 'font-family','Space Mono';
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin: 0em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    width: 272px;
    height: 50px;
    background-color: #D8D8D8;
    border-width: 0px;
    margin-left: 85px;

    &:hover {
        font-weight: 700;
    }
}

.section_post_contact_nav {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px;
    border-bottom: solid 1px;
    align-items: center;
    flex-wrap: wrap;
}
.part1 {
    display: flex;
    flex-direction: row;
    align-items: center;

        & p {
            font-family: 'Poppins';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
}


.miniimg img {
    max-width: 100px;
    max-height: 90px;
    
}

.fleche_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.autrechoix {
    font-weight: 400;
}


//*****Gallerie

.card_photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
        opacity: 0.5;
    }
}


.photo-overlay {
    
    z-index: 1;
    position: relative;
    left: 0;
    bottom: 510px;
    width: 100%;
    height: 100%;
}

.photo-overlay:hover {
    background-color: #00000099;
}

.photo-block {
    width: 564px;
         height: 495px;
 }

.photo-title {
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: "Poppins";
    position: relative;
    left: 10px;
    top: 467px;
    display: none;
    text-transform: uppercase;
}

.photo-categorie {
    font-size: 14px;
    color: white;
    position: relative;
    left: 475px;
    top: 435px;
    display: none;
    width: 14%;
    text-transform: uppercase;
}


.photo-block:hover .photo-title,
.photo-block:hover .photo-categorie,
.photo-block:hover .eye-icon,
.photo-block:hover .fullscreen-icon {
display: block;
}

.likephoto {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.likephoto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
}

//******Light Box


.lightboxpreview {
    transition: all .3s linear;
    padding-top:60%;
    cursor:pointer;
    background-size:cover;
}
    
.lightbox-content {
    max-height:75vh;
    height:75vh;
    width:100%;
    max-width: 1000px;
}
 
.lightbox-close { 
    cursor:pointer;
    margin-left: auto;
    position:absolute;
    right:-30px;
    top:-30px;
    color:white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.modal_inner_image {
     min-height: 400px;
     z-index: 1000;
}

.modal-content {
     width: 100%;
}
 

.modalscale {
    transform:scale(0);
    opacity:0;
}
 
 
.lightbox-container, 
.lightbox-btn, 
.lightbox-image-wrapper,
.lightbox-enabled {
     transition:all .4s ease-in-out;
}
 
 

.lightbox_img_wrap {
    padding-top:65%;
     position:relative;
     overflow:hidden;
}
 


.lightbox-enabled {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    object-fit:cover;
    cursor:pointer;
}

 
.lightbox-container {
     width:100vw;
     height:100vh;
     position:fixed;
     top:0;
     left:0;
     display:flex;
     align-items:center;
     justify-content:center;
     background-color:rgba(0,0,0,.8);
     z-index:9999;
     opacity:0;
     pointer-events:none;
}
 
.lightbox-container.active {
   opacity:1;
   pointer-events:all;
}
 
.lightbox-image-wrapper {
   display:flex;
   transform:scale(0);
   align-items:center;
   justify-content:center;
   max-width:90vw;
   max-height:90vh;
   position:relative;
}
 
.lightbox-container.active .lightbox-image-wrapper {
     transform:scale(0.8);
}
 
.lightbox-btn, #close {
     color:white;
     z-index:9999999;
     cursor:pointer; 
     position:absolute;
     font-size:50px;
}
 
.lightbox-btn:focus {
   outline:none;
}
 
.left {
     left:50px;
}

.right {
     right:50px;
}

#close {
     top:50px;
     right:50px;
}
 
.lightbox-image,
.lightbox_reference,
.lightbox_categories
{
     width:100%;
     -webkit-box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.19); 
     box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.19);
     max-height:95vh;
     object-fit:cover;
     }
 
 @keyframes slideleft {
     33% {transform:translateX(-300px);
     opacity:0;
   }
     66% {transform:translateX(300px);
     opacity:0;
   }
}
 
 
.slideleft {
    animation-name: slideleft;
     animation-duration: .5s; 
     animation-timing-function: ease; 
     }
 @keyframes slideright {
     33% {transform:translateX(300px);
     opacity:0;}
     66% {transform:translateX(-300px);
     opacity:0;}
}
 
 
.slideright{
     animation-name: slideright;
     animation-duration: 0.5s; 
     animation-timing-function: ease; 
}
     
.fullscreen-icon {
    z-index: 6;
    position: relative;
    top: -95px;
    left: 490px;
    width: 5%;
    cursor: pointer;
    display: none;
}

#myBtn:hover {
    background-color: black;
    color: #fff;
}

