
section {
    margin-left: 145px;
    margin-right: 145px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'font-family','Space Mono';
    font-weight: 400;
    

        & h2 {
            font-size: 66px;
            line-height: 58px;
            font-style: italic;
        }
        & p {
            font-size: 14px; 
            line-height: 20px;
        }
   
}


.photodetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
        & img {
            max-width: 563px;
            max-height: 844px;
        }
}

.minidiapo {
    border-bottom: 1px solid black;
}

#menu-item-14 {
    font-family: 'font-family','Space Mono';
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin: 0em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;

    &:hover {
        font-weight: 700;
    }
}


.section_post_contact_nav {
    height: 120px;
    display: flex;
    flex-direction: row;
    border-top: solid 1px;
    border-bottom: solid 1px;
    align-items: center;
}

#myBtn {
    width: 272px;
    height: 50px;
    background-color: #D8D8D8;
    border-width: 0px;
    margin-left: 85px;
}

.image1 img {
    width: 565px;
    max-height: 495px;
    gap: 40px;
}


.image2 img {
    width: 565px;
    max-height: 495px;
    gap: 40px;
}

.image {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
